footer{
    .logo{
        margin-bottom: 3.4375rem;
        img{

        }
    }
    .social-media-btns{
        display: flex;
        gap: 1.6875rem;
        margin-bottom: 6.875rem;
        a{

        }
        img{

        }
    }
}