footer{
    margin-top: 5rem;
    margin-bottom: 3.125rem;
    @media screen and (min-width: map-get($breakpoints, "tablet")){
    }
    @media screen and (min-width: map-get($breakpoints, "desktop")){
    }
    .logo{
        margin-bottom: 3rem;
        img{

        }
    }
    .social-media-btns{
        display: flex;
        gap: 1.6875rem;
        a{

        }
        img{
            transition: 0.2s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover{
                filter: invert(73%) sepia(26%) saturate(928%) hue-rotate(92deg) brightness(109%) contrast(115%);
            }
        }
        
    }
}