.section-2{
    .curve-2{
        background-color: map-get($Colors, "ghost-white");
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: -11;
        transform: translateY(-15rem);
    }
    .grid{
        margin-top: 3.75rem;
        margin-inline: 1rem;
        .col{
            width: 100%;
        }
    }
    @include column;
}