.section-3{
    margin-top: 7rem;
    .founder-container{
        img{
            width: min(80%, 20rem);
            height: auto;
            margin-left: 2.4rem;
        }
    }

    .founder-text{
        background-color: map-get($Colors, "dark-purple");
        margin-inline: 0.5rem;
        //height: 24.5rem;
        z-index: 2;
        transform: translate(0, -3.6rem);
        .founder-headline{
            @include titles;
            padding-top: 2.8125rem;
        }
        .founder-para{
            @include paragraph;
            color: white;
            margin-top: 1.7rem;
            margin-inline: 1.5rem;
        }
        button{
            @include button;
            margin-top: 1.7rem;
            width: 11.25rem;
            margin-bottom: 2.8125rem;
        }
    }
}