.section-2{
    .curve-2{
        @include curve;
        background-color: map-get($Colors, "ghost-white");
        background-color: red;
        z-index: -11;
        transform: scale(600%) translate(0, -17rem);
    }
    .grid{
        margin-top: 3.75rem;
        .col{
            @include column;
            margin-bottom: 2.8125rem;
        }
    }
}